:root {
    --spring-wood: #FEFEFD;
    --rangoon-green: #171714;
    --jet-stream: #ABCDCA;
    --pewter: #9FAAA0;
    --hippie-blue: #62A3B5;
    --faded-jade: #3D7674;
    --fuscous-gray: #585B4E;
    --leather: #907B55;
}
* {
    margin: 0;
    padding: 0;
}
body, html {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Tajawal', sans-serif;
}


.top-header {
    background-color: #e4e4e3;
    width: 100vw;
    display: flex;
    padding: 5px 10px 5px 30px;
    box-shadow: 3px 1px 4px -1px rgba(0, 0, 0, 0.4);
}
  
.location-header {
    margin: auto;
    flex: 1;
    float: left;
}

.search-results {
    width: 250px;
    font-size: 15px;
    font-weight: 200;
    align-content: flex-end;
    padding: 10px;
    border-left: 5px solid var(--hippie-blue);
}

.booking-card-wrapper {
    height: 230px;
    width: 500px;
    display: flex;
}

.booking-card-image {
    flex: 1;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.price {
    font-weight: 700;
}

.booking-card-content {
    flex: 3;
    display: flex;
    flex-direction: column;
}
.booking-card-description {
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
}

.booking-card-description h1 {
    font-size: 24px;
    font-weight: 700;
    margin: 2px 0px;
    border-left: 5px solid #fec500;
}

.booking-card-details {
    flex: 2;
    padding-left: 10px;
    padding-top: 10px;
    background-color: #e4e4e3;
}

i.fa-star {
    color: var(--faded-jade);
    font-size: 16px;
}
.reviews {
    font-size: 10px;
    color: hsl(0, 0%, 45%);
    margin-top: 5px;
}
.reviews .amount {
    padding-left: 3px;
}
.side-note {
    margin-top: 10px;
    font-size: 10px;
    color: hsl(0, 0%, 45%);
}

button {
    outline: none;
    display: inline-block;
    font-weight: 400;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: .575rem .95rem;
    border-radius: .25rem;
    box-shadow: 0 2px 2px 0 hsla(0, 0%, 0%, 0.2);
}

button:hover {
    opacity: 0.8;
}

.btn-primary {
    background-color: var(--hippie-blue);
    color: var(--spring-wood);
    font-weight: 700;
}

.right-align {
    margin: auto auto;
}

.flex {
    display: flex;
    flex-direction: row;
    padding: 4px;
}

.tag {
    font-family: 'Tajawal', sans-serif;
    font-size: small;
    display: inline-flex;
    padding: 4px 10px 1px 10px;
    border-radius: 50px;
    color: white;
    margin: 3px 4px 3px 4px;
    background-color: var(--hippie-blue);
}